@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 56% 95%;
    --foreground: 0 0% 26%;
    --card: 300 56% 100%;
    --card-foreground: 0 0% 26%;
    --popover: 300 56% 100%;
    --popover-foreground: 0 0% 26%;
    --primary: 262 52% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 48% 48%;
    --secondary-foreground: 0 0% 100%;
    --muted: 300 25% 90%;
    --muted-foreground: 0 0% 45%;
    --accent: 336 82% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 300 25% 85%;
    --input: 300 25% 88%;
    --ring: 262 52% 47%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 262 10% 10%;
    --foreground: 0 0% 95%;
    --card: 262 10% 12%;
    --card-foreground: 0 0% 95%;
    --popover: 262 10% 10%;
    --popover-foreground: 0 0% 95%;
    --primary: 262 52% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 48% 48%;
    --secondary-foreground: 0 0% 100%;
    --muted: 262 10% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 336 82% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 10% 25%;
    --input: 262 10% 25%;
    --ring: 262 52% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
